/* --------------------------
  Base
--------------------------- */

body {
  padding-top: 60px;
	background: #0f4e7a;
}

svg {
	margin: auto;
  display: block;
	width: 28%;
}

/* --------------------------
  Keyframes
--------------------------- */



/* --------------------------
  SVG Styles
--------------------------- */


